In [48]:
# -*- coding: utf-8 -*-
"""
Created on Wed Oct  2 22:27:13 2019

@author: Ammu
"""

import pandas as pd
import seaborn as sns

In [49]:
data_cars=pd.read_excel(r"C:\Users\Gnaneshwari\Desktop\cars_sampled.xlsx")
print(data_cars)
cars_data=data_cars.copy()
print(cars_data.info())
print("-"*20)
print(cars_data.describe())

              dateCrawled                                               name  \
0     2016-03-30 13:51:00                                       Zu_verkaufen
1     2016-03-07 09:54:00                             Volvo_XC90_2.4D_Summum
2     2016-04-01 00:57:00                                  Volkswagen_Touran
3     2016-03-19 17:50:00                       Seat_Ibiza_1.4_16V_Reference
4     2016-03-16 14:51:00  Volvo_XC90_D5_Aut._RDesign_R_Design_AWD_GSHD_S...
...                   ...                                                ...
49996 2016-04-03 15:48:00                               Suche_VW_T5_Multivan
49997 2016-03-27 14:55:00  Suche_einen_originalen_VW_Golf_2_Fire_and_Ice_G60
49998 2016-03-14 18:51:00  [SUCHE]_BMW_e46_Coupe_330ci_M_Paket_Facelift__...
49999 2016-03-15 18:06:00        Verkaufe_mehrere_Fahrzeuge_zum_Verschrotten
50000 2016-03-22 09:54:00                   Chevrolet_Matiz_1.Hd_TÃœV11/2017

           seller offerType  price   abtest    vehicleType  \
0         private     offer   4450     test      limousine
1         private     offer  13299  control            suv
2         private     offer   3200     test            bus
3         private     offer   4500  control      small car
4         private     offer  18750     test            suv
...           ...       ...    ...      ...            ...
49996     private   request      0     test            bus
49997     private   request  19999  control            NaN
49998     private   request      0     test          coupe
49999  commercial     offer    100  control  station wagon
50000  commercial     offer   1100     test      small car

       yearOfRegistration    gearbox  powerPS        model  kilometer  \
0                    2003     manual      150          3er     150000
1                    2005     manual      163     xc_reihe     150000
2                    2003     manual      101       touran     150000
3                    2006     manual       86        ibiza      60000
4                    2008  automatic      185     xc_reihe     150000
...                   ...        ...      ...          ...        ...
49996                2005        NaN        0  transporter     150000
49997                1990        NaN        0         golf       5000
49998                2004     manual        0          3er     150000
49999                2000     manual        0       megane     150000
50000                2006     manual       38        matiz     150000

       monthOfRegistration fuelType       brand notRepairedDamage dateCreated  \
0                        3   diesel         bmw               NaN  2016-03-30
1                        6   diesel       volvo                no  2016-03-07
2                       11   diesel  volkswagen               NaN  2016-03-31
3                       12   petrol        seat                no  2016-03-19
4                       11   diesel       volvo                no  2016-03-16
...                    ...      ...         ...               ...         ...
49996                    0      NaN  volkswagen               NaN  2016-04-03
49997                    0      NaN  volkswagen               NaN  2016-03-27
49998                    1   petrol         bmw                no  2016-03-14
49999                    8   petrol     renault               NaN  2016-03-15
50000                   10   petrol   chevrolet                no  2016-03-22

       postalCode            lastSeen
0           20257 2016-04-07 04:44:00
1           88045 2016-03-26 13:17:00
2           27449 2016-04-01 08:40:00
3           34537 2016-04-07 04:44:00
4           55270 2016-04-01 23:18:00
...           ...                 ...
49996       29690 2016-04-05 15:16:00
49997       50181 2016-04-07 11:45:00
49998       86956 2016-03-25 06:17:00
49999       65232 2016-04-06 17:15:00
50000        7973 2016-04-05 21:15:00

[50001 rows x 19 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50001 non-null  datetime64[ns]
 1   name                 49999 non-null  object
 2   seller               50001 non-null  object
 3   offerType            50001 non-null  object
 4   price                50001 non-null  int64
 5   abtest               50001 non-null  object
 6   vehicleType          44813 non-null  object
 7   yearOfRegistration   50001 non-null  int64
 8   gearbox              47177 non-null  object
 9   powerPS              50001 non-null  int64
 10  model                47243 non-null  object
 11  kilometer            50001 non-null  int64
 12  monthOfRegistration  50001 non-null  int64
 13  fuelType             45498 non-null  object
 14  brand                50001 non-null  object
 15  notRepairedDamage    40285 non-null  object
 16  dateCreated          50001 non-null  datetime64[ns]
 17  postalCode           50001 non-null  int64
 18  lastSeen             50001 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(6), object(10)
memory usage: 7.2+ MB
None
--------------------
                         dateCrawled        price  yearOfRegistration  \
count                          50001    50001.000           50001.000
mean   2016-03-21 12:48:21.432771328     6559.865            2005.544
min              2016-03-05 14:06:00        0.000            1000.000
25%              2016-03-13 11:43:00     1150.000            1999.000
50%              2016-03-21 17:55:00     2950.000            2003.000
75%              2016-03-29 14:25:00     7190.000            2008.000
max              2016-04-07 14:36:00 12345678.000            9999.000
std                              NaN    85818.470             122.992

        powerPS  kilometer  monthOfRegistration  \
count 50001.000  50001.000            50001.000
mean    116.496 125613.688                5.744
min       0.000   5000.000                0.000
25%      69.000 125000.000                3.000
50%     105.000 150000.000                6.000
75%     150.000 150000.000                9.000
max   19312.000 150000.000               12.000
std     230.568  40205.234                3.711

                         dateCreated  postalCode  \
count                          50001   50001.000
mean   2016-03-20 18:59:35.592487936   50775.217
min              2015-09-04 00:00:00    1067.000
25%              2016-03-13 00:00:00   30559.000
50%              2016-03-21 00:00:00   49504.000
75%              2016-03-29 00:00:00   71404.000
max              2016-04-07 00:00:00   99998.000
std                              NaN   25743.702

                            lastSeen
count                          50001
mean   2016-03-30 02:45:05.291894016
min              2016-03-05 14:45:00
25%              2016-03-23 09:46:00
50%              2016-04-03 22:39:00
75%              2016-04-06 10:44:00
max              2016-04-07 14:58:00
std                              NaN

In [50]:
#formating float data
pd.set_option("display.float_format",lambda x:"%.3f"%x)
print(cars_data.describe())
print("-"*20)
pd.set_option("display.max_columns",500)
print(cars_data.describe())

                         dateCrawled        price  yearOfRegistration  \
count                          50001    50001.000           50001.000
mean   2016-03-21 12:48:21.432771328     6559.865            2005.544
min              2016-03-05 14:06:00        0.000            1000.000
25%              2016-03-13 11:43:00     1150.000            1999.000
50%              2016-03-21 17:55:00     2950.000            2003.000
75%              2016-03-29 14:25:00     7190.000            2008.000
max              2016-04-07 14:36:00 12345678.000            9999.000
std                              NaN    85818.470             122.992

        powerPS  kilometer  monthOfRegistration  \
count 50001.000  50001.000            50001.000
mean    116.496 125613.688                5.744
min       0.000   5000.000                0.000
25%      69.000 125000.000                3.000
50%     105.000 150000.000                6.000
75%     150.000 150000.000                9.000
max   19312.000 150000.000               12.000
std     230.568  40205.234                3.711

                         dateCreated  postalCode  \
count                          50001   50001.000
mean   2016-03-20 18:59:35.592487936   50775.217
min              2015-09-04 00:00:00    1067.000
25%              2016-03-13 00:00:00   30559.000
50%              2016-03-21 00:00:00   49504.000
75%              2016-03-29 00:00:00   71404.000
max              2016-04-07 00:00:00   99998.000
std                              NaN   25743.702

                            lastSeen
count                          50001
mean   2016-03-30 02:45:05.291894016
min              2016-03-05 14:45:00
25%              2016-03-23 09:46:00
50%              2016-04-03 22:39:00
75%              2016-04-06 10:44:00
max              2016-04-07 14:58:00
std                              NaN
--------------------
                         dateCrawled        price  yearOfRegistration  \
count                          50001    50001.000           50001.000
mean   2016-03-21 12:48:21.432771328     6559.865            2005.544
min              2016-03-05 14:06:00        0.000            1000.000
25%              2016-03-13 11:43:00     1150.000            1999.000
50%              2016-03-21 17:55:00     2950.000            2003.000
75%              2016-03-29 14:25:00     7190.000            2008.000
max              2016-04-07 14:36:00 12345678.000            9999.000
std                              NaN    85818.470             122.992

        powerPS  kilometer  monthOfRegistration  \
count 50001.000  50001.000            50001.000
mean    116.496 125613.688                5.744
min       0.000   5000.000                0.000
25%      69.000 125000.000                3.000
50%     105.000 150000.000                6.000
75%     150.000 150000.000                9.000
max   19312.000 150000.000               12.000
std     230.568  40205.234                3.711

                         dateCreated  postalCode  \
count                          50001   50001.000
mean   2016-03-20 18:59:35.592487936   50775.217
min              2015-09-04 00:00:00    1067.000
25%              2016-03-13 00:00:00   30559.000
50%              2016-03-21 00:00:00   49504.000
75%              2016-03-29 00:00:00   71404.000
max              2016-04-07 00:00:00   99998.000
std                              NaN   25743.702

                            lastSeen
count                          50001
mean   2016-03-30 02:45:05.291894016
min              2016-03-05 14:45:00
25%              2016-03-23 09:46:00
50%              2016-04-03 22:39:00
75%              2016-04-06 10:44:00
max              2016-04-07 14:58:00
std                              NaN

In [51]:
cars_data.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'postalCode', 'lastSeen'],
      dtype='object')

In [52]:
#Dropping unwanted columns
col=["name","dateCrawled","dateCreated","postalCode",
     "lastSeen"]
cars_data=cars_data.drop(columns=col,axis=1)
print(cars_data)
#Removing duplicate records
cars_data.drop_duplicates(keep="first",inplace=True)
print(cars_data)
#Data Cleaning
print(cars_data.isnull().sum())
yearwise_count=cars_data["yearOfRegistration"].value_counts().sort_index()
print(yearwise_count)
print(sum(cars_data["yearOfRegistration"]>2018))
print(sum(cars_data["yearOfRegistration"]<1950))

           seller offerType  price   abtest    vehicleType  \
0         private     offer   4450     test      limousine
1         private     offer  13299  control            suv
2         private     offer   3200     test            bus
3         private     offer   4500  control      small car
4         private     offer  18750     test            suv
...           ...       ...    ...      ...            ...
49996     private   request      0     test            bus
49997     private   request  19999  control            NaN
49998     private   request      0     test          coupe
49999  commercial     offer    100  control  station wagon
50000  commercial     offer   1100     test      small car

       yearOfRegistration    gearbox  powerPS        model  kilometer  \
0                    2003     manual      150          3er     150000
1                    2005     manual      163     xc_reihe     150000
2                    2003     manual      101       touran     150000
3                    2006     manual       86        ibiza      60000
4                    2008  automatic      185     xc_reihe     150000
...                   ...        ...      ...          ...        ...
49996                2005        NaN        0  transporter     150000
49997                1990        NaN        0         golf       5000
49998                2004     manual        0          3er     150000
49999                2000     manual        0       megane     150000
50000                2006     manual       38        matiz     150000

       monthOfRegistration fuelType       brand notRepairedDamage
0                        3   diesel         bmw               NaN
1                        6   diesel       volvo                no
2                       11   diesel  volkswagen               NaN
3                       12   petrol        seat                no
4                       11   diesel       volvo                no
...                    ...      ...         ...               ...
49996                    0      NaN  volkswagen               NaN
49997                    0      NaN  volkswagen               NaN
49998                    1   petrol         bmw                no
49999                    8   petrol     renault               NaN
50000                   10   petrol   chevrolet                no

[50001 rows x 14 columns]
           seller offerType  price   abtest    vehicleType  \
0         private     offer   4450     test      limousine
1         private     offer  13299  control            suv
2         private     offer   3200     test            bus
3         private     offer   4500  control      small car
4         private     offer  18750     test            suv
...           ...       ...    ...      ...            ...
49996     private   request      0     test            bus
49997     private   request  19999  control            NaN
49998     private   request      0     test          coupe
49999  commercial     offer    100  control  station wagon
50000  commercial     offer   1100     test      small car

       yearOfRegistration    gearbox  powerPS        model  kilometer  \
0                    2003     manual      150          3er     150000
1                    2005     manual      163     xc_reihe     150000
2                    2003     manual      101       touran     150000
3                    2006     manual       86        ibiza      60000
4                    2008  automatic      185     xc_reihe     150000
...                   ...        ...      ...          ...        ...
49996                2005        NaN        0  transporter     150000
49997                1990        NaN        0         golf       5000
49998                2004     manual        0          3er     150000
49999                2000     manual        0       megane     150000
50000                2006     manual       38        matiz     150000

       monthOfRegistration fuelType       brand notRepairedDamage
0                        3   diesel         bmw               NaN
1                        6   diesel       volvo                no
2                       11   diesel  volkswagen               NaN
3                       12   petrol        seat                no
4                       11   diesel       volvo                no
...                    ...      ...         ...               ...
49996                    0      NaN  volkswagen               NaN
49997                    0      NaN  volkswagen               NaN
49998                    1   petrol         bmw                no
49999                    8   petrol     renault               NaN
50000                   10   petrol   chevrolet                no

[49531 rows x 14 columns]
seller                    0
offerType                 0
price                     0
abtest                    0
vehicleType            5152
yearOfRegistration        0
gearbox                2765
powerPS                   0
model                  2730
kilometer                 0
monthOfRegistration       0
fuelType               4467
brand                     0
notRepairedDamage      9640
dtype: int64
yearOfRegistration
1000     6
1255     1
1500     2
1910    14
1928     1
        ..
7500     1
7800     1
8500     1
8888     2
9999     7
Name: count, Length: 97, dtype: int64
26
38

In [53]:
"""
sns.regplot(x="yearOfRegistration",y="price",
            scatter=True,fit_reg=False,
           data=cars_data)
"""
#working range 1950-2018

#variable price
price_count=cars_data["price"].value_counts().sort_index()
#sns.distplot(cars_data["price"])
print(cars_data["price"].describe())
#sns.boxplot(y=cars_data["price"])
print(sum(cars_data["price"]>150000))
print(sum(cars_data["price"]<100))

count      49531.000
mean        6567.220
std        86222.378
min            0.000
25%         1150.000
50%         2950.000
75%         7100.000
max     12345678.000
Name: price, dtype: float64
34
1748

In [54]:
#working range 100-150000
#variable powerPS
power_count=cars_data["powerPS"].value_counts().sort_index()
#sns.distplot(cars_data["powerPS"])
print(cars_data["powerPS"].describe())
#sns.boxplot(y=cars_data["powerPS"])
print(sum(cars_data["powerPS"]>500))
print(sum(cars_data["powerPS"]<10))

count   49531.000
mean      116.501
std       231.536
min         0.000
25%        69.000
50%       105.000
75%       150.000
max     19312.000
Name: powerPS, dtype: float64
115
5565

In [55]:
#working range 10-500
#working range of Data

cars_data=cars_data[(cars_data.yearOfRegistration<=2018)
                &(cars_data.yearOfRegistration>=1950)
                &(cars_data.price>=100)
                &(cars_data.price<=150000)
                &(cars_data.powerPS>=10)
                &(cars_data.powerPS<=500)]
print(cars_data)

           seller offerType  price   abtest    vehicleType  \
0         private     offer   4450     test      limousine
1         private     offer  13299  control            suv
2         private     offer   3200     test            bus
3         private     offer   4500  control      small car
4         private     offer  18750     test            suv
...           ...       ...    ...      ...            ...
49991     private     offer  10900     test      limousine
49992     private     offer    790     test      limousine
49993     private     offer    830     test      small car
49995     private     offer   2290     test  station wagon
50000  commercial     offer   1100     test      small car

       yearOfRegistration    gearbox  powerPS     model  kilometer  \
0                    2003     manual      150       3er     150000
1                    2005     manual      163  xc_reihe     150000
2                    2003     manual      101    touran     150000
3                    2006     manual       86     ibiza      60000
4                    2008  automatic      185  xc_reihe     150000
...                   ...        ...      ...       ...        ...
49991                2004     manual      231   x_reihe     150000
49992                1998     manual       82     astra     150000
49993                1999     manual       60      clio     125000
49995                2001     manual      101     astra     150000
50000                2006     manual       38     matiz     150000

       monthOfRegistration fuelType       brand notRepairedDamage
0                        3   diesel         bmw               NaN
1                        6   diesel       volvo                no
2                       11   diesel  volkswagen               NaN
3                       12   petrol        seat                no
4                       11   diesel       volvo                no
...                    ...      ...         ...               ...
49991                    8   petrol         bmw                no
49992                    9   diesel        opel                no
49993                    8   petrol     renault                no
49995                    3   petrol        opel                no
50000                   10   petrol   chevrolet                no

[42772 rows x 14 columns]

In [56]:
#combining yearOfRegistration and monthOfRegistration
cars_data["monthOfRegistration"]/=12
#creating new variable Age by adding yearOfRegistration 
#and monthOfRegistration
cars_data["Age"]=(2018-cars_data["yearOfRegistration"])+cars_data["monthOfRegistration"]
cars_data["Age"]=round(cars_data["Age"],2)
print(cars_data["Age"].describe())

count   42772.000
mean       14.873
std         7.093
min         0.000
25%        10.330
50%        14.830
75%        19.170
max        67.750
Name: Age, dtype: float64

In [57]:
#dropping yearOfRegistration and monthOfRegistration
cars_data.drop(columns=["yearOfRegistration","monthOfRegistration"],axis=1,inplace=True)
"""
#Data visualization of Age,Price,powerPS
sns.distplot(cars_data["Age"])
sns.boxplot(cars_data["Age"])
sns.distplot(cars_data["price"])
sns.boxplot(cars_data["price"])
sns.distplot(cars_data["powerPS"])
sns.boxplot(cars_data["powerPS"])

#Age vs price
sns.regplot(x="Age",y="price",scatter=True,
            fit_reg=False,data=cars_dat"""
#powerPs vs price
"""
sns.regplot(x="powerPS",y="price",scatter=True,
            fit_reg=False,data=cars_data)"""
#variable seller
print(cars_data["seller"].value_counts())

seller
private       42771
commercial        1
Name: count, dtype: int64

In [58]:
seller_tab=pd.crosstab(index=cars_data["seller"],columns="counts",normalize=True)
#sns.countplot(x="seller",data=cars_data)
print(seller_tab)
#fewer cars have "cpmmercial => insignificant
print(cars_data["offerType"].value_counts())

col_0       counts
seller
commercial   0.000
private      1.000
offerType
offer    42772
Name: count, dtype: int64

In [59]:
offer_tab=pd.crosstab(index=cars_data["offerType"],columns="counts",normalize=True)
#sns.countplot(x="offerType",data=cars_data)
print(offer_tab)

col_0      counts
offerType
offer       1.000

In [60]:
#all cars have "offer"=> insignificant
#variable abtest
print(cars_data["abtest"].value_counts())
offer_tab=pd.crosstab(index=cars_data["abtest"],columns="counts",normalize=True)
#sns.boxplot(x="abtest",y="price",data=cars_data)
print(offer_tab)

abtest
test       22128
control    20644
Name: count, dtype: int64
col_0    counts
abtest
control   0.483
test      0.517

In [61]:
cars_data.columns

Index(['seller', 'offerType', 'price', 'abtest', 'vehicleType', 'gearbox',
       'powerPS', 'model', 'kilometer', 'fuelType', 'brand',
       'notRepairedDamage', 'Age'],
      dtype='object')

In [62]:
#remove insignificant variables
col=["seller","offerType","abtest"]
cars_data=cars_data.drop(columns=col,axis=1)

In [63]:
cars_copy=cars_data.copy()
cars_select1=cars_data.select_dtypes(exclude=[object])

In [64]:
correlation=cars_select1.corr()
print(round(correlation,3))
print("-"*20)
print(cars_select1.corr().loc[:,"price"].abs().sort_values(ascending=False)[1:])
#ignoring missing values

           price  powerPS  kilometer    Age
price      1.000    0.575     -0.440 -0.336
powerPS    0.575    1.000     -0.016 -0.151
kilometer -0.440   -0.016      1.000  0.292
Age       -0.336   -0.151      0.292  1.000
--------------------
powerPS     0.575
kilometer   0.440
Age         0.336
Name: price, dtype: float64

In [65]:
#ignoring missing values

"""
we are going to build a linear regression and random forest model
on two sets of data
1.Data obtained by omitting rows with any missing value
2.Data obtained by imputing the missing values
"""
cars_omit=cars_data.dropna(axis=0)
cars_omit=pd.get_dummies(cars_omit,drop_first=True)

In [66]:
#importing necessary libraries
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
#building a model with omitted data
#seperating input and output features 
x1=cars_omit.drop(["price"],axis="columns",inplace=False)
y1=cars_omit["price"]
#plotting the variable price
prices=pd.DataFrame({"1.Before":y1,"2.After":np.log(y1)})
#prices.hist()
#Transforming price as a logarithmic value
y1=np.log(y1)

In [67]:
#spliting data into test and train
x_train,x_test,y_train,y_test=train_test_split(x1,y1,
                                               test_size=0.3,
                                               random_state=3)
print(x_train.shape,x_test.shape)
print(y_train.shape,y_test.shape)

(23018, 300) (9866, 300)
(23018,) (9866,)

In [68]:
#finding the mean for test data value
base_pred=np.mean(y_test)
print(base_pred)
#repeat the same value till length of test data
base_pred=np.repeat(base_pred,len(y_test))

8.249615787653267

In [69]:
#Finding the RMSE
base_rt_sqr_err=np.sqrt(mean_squared_error(y_test,base_pred))
print(base_rt_sqr_err)

1.1274483657478247

In [ ]:
# The error you are encountering is due to an invalid parameter value for the 'max_features' parameter in the RandomForestRegressor. The 'max_features' parameter should be one of the following:

# An integer in the range [1, inf).
# A float in the range (0.0, 1.0].
# A string among {'auto', 'sqrt', 'log2'}.
# None.
# You provided 'auto' for the 'max_features' parameter, which is not a valid option. To fix this issue, you should choose one of the valid options listed above. For example, you can use 'auto' or 'sqrt' or specify an integer to indicate the maximum number of features to consider at each split.

# Here's an example of how you can set 'max_features' to 'auto' in the RandomForestRegressor:

In [73]:
#Random forest with omitted data
rf=RandomForestRegressor(n_estimators=100,
                         max_depth=100,min_samples_split=10,
                         min_samples_leaf=4,random_state=1)

# rf = RandomForestRegressor(n_estimators=100, max_features="auto", max_depth=100, min_samples_split=10, min_samples_leaf=4, random_state=1)

In [74]:
#Model
model_rf1=rf.fit(x_train,y_train)

#predicting model on test data
cars_pred_rf1=rf.predict(x_test)

In [75]:
#Computing MSE and RMSE
rf_mse1=mean_squared_error(y_test,cars_pred_rf1)
rf_rmse1=np.sqrt(rf_mse1)
print(rf_rmse1)

0.4360702292731743

In [76]:
#R-Squared value
r2_rf_test1=model_rf1.score(x_test,y_test)
r2_rf_train1=model_rf1.score(x_train,y_train)
print(r2_rf_test1,r2_rf_train1)

0.8504041473240898 0.9202519226877908