In \[1\]:

    import pandas as pd

In \[2\]:

    emp = pd.read_excel(r'C:\Users\kdata\Desktop\KODI WORK\1. NARESH\10. WORKSHOP\2. EDA\Rawdata.xlsx')

In \[3\]:

    emp

Out\[3\]:

|     | Name    | Domain         | Age      | Location  | Salary   | Exp     |
|-----|---------|----------------|----------|-----------|----------|---------|
| 0   | Mike    | Datascience#\$ | 34 years | Mumbai    | 5^00#0   | 2+      |
| 1   | Teddy^  | Testing        | 45' yr   | Bangalore | 10%%000  | \<3     |
| 2   | Uma#r   | Dataanalyst^^# | NaN      | NaN       | 1\$5%000 | 4> yrs  |
| 3   | Jane    | Ana^^lytics    | NaN      | Hyderbad  | 2000^0   | NaN     |
| 4   | Uttam\* | Statistics     | 67-yr    | NaN       | 30000-   | 5+ year |
| 5   | Kim     | NLP            | 55yr     | Delhi     | 6000^\$0 | 10+     |

In \[4\]:

    emp.shape ## dimension of the datafram

Out\[4\]:

    (6, 6)

In \[5\]:

    len(emp)

Out\[5\]:

    6

In \[6\]:

    emp.columns

Out\[6\]:

    Index(['Name', 'Domain', 'Age', 'Location', 'Salary', 'Exp'], dtype='object')

In \[7\]:

    len(emp.columns)

Out\[7\]:

    6

In \[8\]:

    emp.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 6 entries, 0 to 5
    Data columns (total 6 columns):
     #   Column    Non-Null Count  Dtype 
    ---  ------    --------------  ----- 
     0   Name      6 non-null      object
     1   Domain    6 non-null      object
     2   Age       4 non-null      object
     3   Location  4 non-null      object
     4   Salary    6 non-null      object
     5   Exp       5 non-null      object
    dtypes: object(6)
    memory usage: 416.0+ bytes

In \[9\]:

    emp

Out\[9\]:

|     | Name    | Domain         | Age      | Location  | Salary   | Exp     |
|-----|---------|----------------|----------|-----------|----------|---------|
| 0   | Mike    | Datascience#\$ | 34 years | Mumbai    | 5^00#0   | 2+      |
| 1   | Teddy^  | Testing        | 45' yr   | Bangalore | 10%%000  | \<3     |
| 2   | Uma#r   | Dataanalyst^^# | NaN      | NaN       | 1\$5%000 | 4> yrs  |
| 3   | Jane    | Ana^^lytics    | NaN      | Hyderbad  | 2000^0   | NaN     |
| 4   | Uttam\* | Statistics     | 67-yr    | NaN       | 30000-   | 5+ year |
| 5   | Kim     | NLP            | 55yr     | Delhi     | 6000^\$0 | 10+     |

In \[10\]:

    emp['Name']

Out\[10\]:

    0      Mike
    1    Teddy^
    2     Uma#r
    3      Jane
    4    Uttam*
    5       Kim
    Name: Name, dtype: object

In \[11\]:

    emp['Domain']

Out\[11\]:

    0     Datascience#$
    1           Testing
    2    Dataanalyst^^#
    3       Ana^^lytics
    4        Statistics
    5               NLP
    Name: Domain, dtype: object

In \[12\]:

    emp['Age']

Out\[12\]:

    0    34 years
    1      45' yr
    2         NaN
    3         NaN
    4       67-yr
    5        55yr
    Name: Age, dtype: object

In \[13\]:

    emp['Location']

Out\[13\]:

    0       Mumbai
    1    Bangalore
    2          NaN
    3     Hyderbad
    4          NaN
    5        Delhi
    Name: Location, dtype: object

In \[14\]:

    emp['Salary']

Out\[14\]:

    0     5^00#0
    1    10%%000
    2    1$5%000
    3     2000^0
    4     30000-
    5    6000^$0
    Name: Salary, dtype: object

In \[15\]:

    emp['Exp']

Out\[15\]:

    0         2+
    1         <3
    2     4> yrs
    3        NaN
    4    5+ year
    5        10+
    Name: Exp, dtype: object

In \[16\]:

    emp[['Name','Domain']]

Out\[16\]:

|     | Name    | Domain         |
|-----|---------|----------------|
| 0   | Mike    | Datascience#\$ |
| 1   | Teddy^  | Testing        |
| 2   | Uma#r   | Dataanalyst^^# |
| 3   | Jane    | Ana^^lytics    |
| 4   | Uttam\* | Statistics     |
| 5   | Kim     | NLP            |

In \[17\]:

    emp[['Name','Domain','Age']]

Out\[17\]:

|     | Name    | Domain         | Age      |
|-----|---------|----------------|----------|
| 0   | Mike    | Datascience#\$ | 34 years |
| 1   | Teddy^  | Testing        | 45' yr   |
| 2   | Uma#r   | Dataanalyst^^# | NaN      |
| 3   | Jane    | Ana^^lytics    | NaN      |
| 4   | Uttam\* | Statistics     | 67-yr    |
| 5   | Kim     | NLP            | 55yr     |

In \[18\]:

    emp[['Name','Domain','Age','Location','Salary','Exp']]

Out\[18\]:

|     | Name    | Domain         | Age      | Location  | Salary   | Exp     |
|-----|---------|----------------|----------|-----------|----------|---------|
| 0   | Mike    | Datascience#\$ | 34 years | Mumbai    | 5^00#0   | 2+      |
| 1   | Teddy^  | Testing        | 45' yr   | Bangalore | 10%%000  | \<3     |
| 2   | Uma#r   | Dataanalyst^^# | NaN      | NaN       | 1\$5%000 | 4> yrs  |
| 3   | Jane    | Ana^^lytics    | NaN      | Hyderbad  | 2000^0   | NaN     |
| 4   | Uttam\* | Statistics     | 67-yr    | NaN       | 30000-   | 5+ year |
| 5   | Kim     | NLP            | 55yr     | Delhi     | 6000^\$0 | 10+     |

# data cleansing<a href="#data-cleansing" class="anchor-link">¶</a>

In \[19\]:

    emp['Name']

Out\[19\]:

    0      Mike
    1    Teddy^
    2     Uma#r
    3      Jane
    4    Uttam*
    5       Kim
    Name: Name, dtype: object

In \[20\]:

    emp['Name'] = emp['Name'].str.replace(r'\W','')

    C:\Users\kdata\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
      """Entry point for launching an IPython kernel.

In \[21\]:

    emp['Name']

Out\[21\]:

    0     Mike
    1    Teddy
    2     Umar
    3     Jane
    4    Uttam
    5      Kim
    Name: Name, dtype: object

In \[22\]:

    emp['Domain'] = emp['Domain'].str.replace(r'\W','')

    C:\Users\kdata\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
      """Entry point for launching an IPython kernel.

In \[23\]:

    emp['Domain'] 

Out\[23\]:

    0    Datascience
    1        Testing
    2    Dataanalyst
    3      Analytics
    4     Statistics
    5            NLP
    Name: Domain, dtype: object

In \[24\]:

    emp['Age'] = emp['Age'].str.replace(r'\W','')

    C:\Users\kdata\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
      """Entry point for launching an IPython kernel.

In \[25\]:

    emp['Age']

Out\[25\]:

    0    34years
    1       45yr
    2        NaN
    3        NaN
    4       67yr
    5       55yr
    Name: Age, dtype: object

In \[26\]:

    emp['Age'] = emp['Age'].str.extract('(\d+)')

In \[27\]:

    emp['Age']

Out\[27\]:

    0     34
    1     45
    2    NaN
    3    NaN
    4     67
    5     55
    Name: Age, dtype: object

In \[28\]:

    emp

Out\[28\]:

|     | Name  | Domain      | Age | Location  | Salary   | Exp     |
|-----|-------|-------------|-----|-----------|----------|---------|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5^00#0   | 2+      |
| 1   | Teddy | Testing     | 45  | Bangalore | 10%%000  | \<3     |
| 2   | Umar  | Dataanalyst | NaN | NaN       | 1\$5%000 | 4> yrs  |
| 3   | Jane  | Analytics   | NaN | Hyderbad  | 2000^0   | NaN     |
| 4   | Uttam | Statistics  | 67  | NaN       | 30000-   | 5+ year |
| 5   | Kim   | NLP         | 55  | Delhi     | 6000^\$0 | 10+     |

In \[29\]:

    emp['Location'] = emp['Location'].str.replace(r'\W','')

    C:\Users\kdata\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
      """Entry point for launching an IPython kernel.

In \[30\]:

    emp['Location']

Out\[30\]:

    0       Mumbai
    1    Bangalore
    2          NaN
    3     Hyderbad
    4          NaN
    5        Delhi
    Name: Location, dtype: object

In \[31\]:

    emp['Salary'] = emp['Salary'].str.replace(r'\W','')

    C:\Users\kdata\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
      """Entry point for launching an IPython kernel.

In \[32\]:

    emp['Salary']

Out\[32\]:

    0     5000
    1    10000
    2    15000
    3    20000
    4    30000
    5    60000
    Name: Salary, dtype: object

In \[33\]:

    emp['Exp'] = emp['Exp'].str.extract('(\d+)')

In \[34\]:

    emp['Exp']

Out\[34\]:

    0      2
    1      3
    2      4
    3    NaN
    4      5
    5     10
    Name: Exp, dtype: object

In \[35\]:

    emp

Out\[35\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | NaN | NaN       | 15000  | 4   |
| 3   | Jane  | Analytics   | NaN | Hyderbad  | 20000  | NaN |
| 4   | Uttam | Statistics  | 67  | NaN       | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[36\]:

    clean_data = emp.copy()

In \[37\]:

    clean_data

Out\[37\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | NaN | NaN       | 15000  | 4   |
| 3   | Jane  | Analytics   | NaN | Hyderbad  | 20000  | NaN |
| 4   | Uttam | Statistics  | 67  | NaN       | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

# Missing value treatement<a href="#Missing-value-treatement" class="anchor-link">¶</a>

In \[38\]:

    clean_data

Out\[38\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | NaN | NaN       | 15000  | 4   |
| 3   | Jane  | Analytics   | NaN | Hyderbad  | 20000  | NaN |
| 4   | Uttam | Statistics  | 67  | NaN       | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[39\]:

    clean_data.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 6 entries, 0 to 5
    Data columns (total 6 columns):
     #   Column    Non-Null Count  Dtype 
    ---  ------    --------------  ----- 
     0   Name      6 non-null      object
     1   Domain    6 non-null      object
     2   Age       4 non-null      object
     3   Location  4 non-null      object
     4   Salary    6 non-null      object
     5   Exp       5 non-null      object
    dtypes: object(6)
    memory usage: 416.0+ bytes

In \[40\]:

    import numpy as np 

In \[41\]:

    clean_data

Out\[41\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | NaN | NaN       | 15000  | 4   |
| 3   | Jane  | Analytics   | NaN | Hyderbad  | 20000  | NaN |
| 4   | Uttam | Statistics  | 67  | NaN       | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[42\]:

    clean_data.head(1)

Out\[42\]:

|     | Name | Domain      | Age | Location | Salary | Exp |
|-----|------|-------------|-----|----------|--------|-----|
| 0   | Mike | Datascience | 34  | Mumbai   | 5000   | 2   |

In \[43\]:

    clean_data['Age'] 

Out\[43\]:

    0     34
    1     45
    2    NaN
    3    NaN
    4     67
    5     55
    Name: Age, dtype: object

In \[44\]:

    clean_data['Age'] = clean_data['Age'].fillna(np.mean(pd.to_numeric(clean_data['Age'])))

In \[45\]:

    clean_data['Age']

Out\[45\]:

    0       34
    1       45
    2    50.25
    3    50.25
    4       67
    5       55
    Name: Age, dtype: object

In \[46\]:

    emp

Out\[46\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | NaN | NaN       | 15000  | 4   |
| 3   | Jane  | Analytics   | NaN | Hyderbad  | 20000  | NaN |
| 4   | Uttam | Statistics  | 67  | NaN       | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[47\]:

    clean_data

Out\[47\]:

|     | Name  | Domain      | Age   | Location  | Salary | Exp |
|-----|-------|-------------|-------|-----------|--------|-----|
| 0   | Mike  | Datascience | 34    | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45    | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50.25 | NaN       | 15000  | 4   |
| 3   | Jane  | Analytics   | 50.25 | Hyderbad  | 20000  | NaN |
| 4   | Uttam | Statistics  | 67    | NaN       | 30000  | 5   |
| 5   | Kim   | NLP         | 55    | Delhi     | 60000  | 10  |

In \[48\]:

    clean_data['Exp'] = clean_data['Exp'].fillna(np.mean(pd.to_numeric(clean_data['Exp'])))

In \[49\]:

    clean_data['Exp']

Out\[49\]:

    0      2
    1      3
    2      4
    3    4.8
    4      5
    5     10
    Name: Exp, dtype: object

In \[50\]:

    clean_data

Out\[50\]:

|     | Name  | Domain      | Age   | Location  | Salary | Exp |
|-----|-------|-------------|-------|-----------|--------|-----|
| 0   | Mike  | Datascience | 34    | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45    | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50.25 | NaN       | 15000  | 4   |
| 3   | Jane  | Analytics   | 50.25 | Hyderbad  | 20000  | 4.8 |
| 4   | Uttam | Statistics  | 67    | NaN       | 30000  | 5   |
| 5   | Kim   | NLP         | 55    | Delhi     | 60000  | 10  |

In \[53\]:

    clean_data['Location'] = clean_data['Location'].fillna(clean_data['Location'].mode()[0])

In \[54\]:

    clean_data['Location']

Out\[54\]:

    0       Mumbai
    1    Bangalore
    2     Hyderbad
    3     Hyderbad
    4     Hyderbad
    5        Delhi
    Name: Location, dtype: object

In \[55\]:

    clean_data

Out\[55\]:

|     | Name  | Domain      | Age   | Location  | Salary | Exp |
|-----|-------|-------------|-------|-----------|--------|-----|
| 0   | Mike  | Datascience | 34    | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45    | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50.25 | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50.25 | Hyderbad  | 20000  | 4.8 |
| 4   | Uttam | Statistics  | 67    | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55    | Delhi     | 60000  | 10  |

In \[57\]:

    clean_data['Age'] = clean_data['Age'].astype(int)

In \[58\]:

    clean_data['Salary'] = clean_data['Salary'].astype(int)

In \[59\]:

    clean_data['Exp'] = clean_data['Exp'].astype(int)

In \[60\]:

    clean_data

Out\[60\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[61\]:

    clean_data.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 6 entries, 0 to 5
    Data columns (total 6 columns):
     #   Column    Non-Null Count  Dtype 
    ---  ------    --------------  ----- 
     0   Name      6 non-null      object
     1   Domain    6 non-null      object
     2   Age       6 non-null      int32 
     3   Location  6 non-null      object
     4   Salary    6 non-null      int32 
     5   Exp       6 non-null      int32 
    dtypes: int32(3), object(3)
    memory usage: 344.0+ bytes

In \[62\]:

    clean_data['Name'] = clean_data['Name'].astype('category')

In \[63\]:

    clean_data['Domain'] = clean_data['Domain'].astype('category')

In \[64\]:

    clean_data['Location'] = clean_data['Location'].astype('category')

In \[65\]:

    clean_data.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 6 entries, 0 to 5
    Data columns (total 6 columns):
     #   Column    Non-Null Count  Dtype   
    ---  ------    --------------  -----   
     0   Name      6 non-null      category
     1   Domain    6 non-null      category
     2   Age       6 non-null      int32   
     3   Location  6 non-null      category
     4   Salary    6 non-null      int32   
     5   Exp       6 non-null      int32   
    dtypes: category(3), int32(3)
    memory usage: 862.0 bytes

In \[66\]:

    clean_data

Out\[66\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[67\]:

    clean_data.to_csv('clean_data.csv')

In \[68\]:

    import os 
    os.getcwd()

Out\[68\]:

    'C:\\Users\\kdata'

In \[69\]:

    clean_data.columns

Out\[69\]:

    Index(['Name', 'Domain', 'Age', 'Location', 'Salary', 'Exp'], dtype='object')

In \[70\]:

    import matplotlib.pyplot as plt # visualization
    import seaborn as sns # Advanced visualization

In \[72\]:

    import warnings
    warnings.filterwarnings('ignore')

In \[73\]:

    clean_data

Out\[73\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[74\]:

    clean_data['Salary']

Out\[74\]:

    0     5000
    1    10000
    2    15000
    3    20000
    4    30000
    5    60000
    Name: Salary, dtype: int32

What is a distplot in seaborn?
A Distplot or distribution plot, depicts the variation in the data distribution. Seaborn Distplot represents the overall distribution of continuous data variables. The Seaborn module along with the Matplotlib module is used to depict the distplot with different variations in it.

In \[75\]:

    vis1 = sns.distplot(clean_data['Salary'])

![](%0A)

In \[77\]:

    plt.rcParams['figure.figsize'] = 10,6

In \[80\]:

    vis1 = sns.distplot(clean_data['Salary'])

![](%0A)
Matplotlib Histogram
A histogram is used to represent data provided in the form of some groups. It is an accurate method for the graphical representation of numerical data distribution. It is a type of bar plot where the X-axis represents the bin ranges while the Y-axis gives information about frequency. Python’s Matplotlib Library provides us with an easy way to create Histograms using Pyplot.
In \[81\]:

    vis2 = plt.hist(clean_data['Salary'])

![](%0A)

In \[82\]:

    vis3 = plt.hist(clean_data['Exp'])

![](%0A)
What is Lmplot in Seaborn used for?
lmplot() method is used to draw a scatter plot onto a FacetGrid. Parameters : This method is accepting the following parameters that are described below: x, y: ( optional) This parameters are column names in data.
What is a FacetGrid?
A FacetGrid is a multi-axes grid with subplots visualizing the distribution of variables of a dataset and the relationship between multiple variables.
In \[83\]:

    vis4 = sns.lmplot(data=clean_data,x = 'Exp', y='Salary')

![](%0A)

In \[84\]:

    vis5 = sns.lmplot(data=clean_data,x = 'Exp', y='Salary', fit_reg = False)

![](%0A)

In \[85\]:

    vis6 = sns.lmplot(data=clean_data,x = 'Exp', y='Salary', fit_reg = True)

![](%0A)

In \[86\]:

    clean_data

Out\[86\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[87\]:

    clean_data[:]

Out\[87\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[88\]:

    clean_data[:2]

Out\[88\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |

In \[89\]:

    clean_data[2:]

Out\[89\]:

|     | Name  | Domain      | Age | Location | Salary | Exp |
|-----|-------|-------------|-----|----------|--------|-----|
| 2   | Umar  | Dataanalyst | 50  | Hyderbad | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi    | 60000  | 10  |

In \[90\]:

    clean_data[:]

Out\[90\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[91\]:

    clean_data[0:1]

Out\[91\]:

|     | Name | Domain      | Age | Location | Salary | Exp |
|-----|------|-------------|-----|----------|--------|-----|
| 0   | Mike | Datascience | 34  | Mumbai   | 5000   | 2   |

In \[94\]:

    clean_data[0,3]

    ---------------------------------------------------------------------------
    KeyError                                  Traceback (most recent call last)
    ~\anaconda3\lib\site-packages\pandas\core\indexes\base.py in get_loc(self, key, method, tolerance)
       3360             try:
    -> 3361                 return self._engine.get_loc(casted_key)
       3362             except KeyError as err:

    ~\anaconda3\lib\site-packages\pandas\_libs\index.pyx in pandas._libs.index.IndexEngine.get_loc()

    ~\anaconda3\lib\site-packages\pandas\_libs\index.pyx in pandas._libs.index.IndexEngine.get_loc()

    pandas\_libs\hashtable_class_helper.pxi in pandas._libs.hashtable.PyObjectHashTable.get_item()

    pandas\_libs\hashtable_class_helper.pxi in pandas._libs.hashtable.PyObjectHashTable.get_item()

    KeyError: (0, 3)

    The above exception was the direct cause of the following exception:

    KeyError                                  Traceback (most recent call last)
    <ipython-input-94-a7eef4a201f4> in <module>
    ----> 1 clean_data[0,3]

    ~\anaconda3\lib\site-packages\pandas\core\frame.py in __getitem__(self, key)
       3456             if self.columns.nlevels > 1:
       3457                 return self._getitem_multilevel(key)
    -> 3458             indexer = self.columns.get_loc(key)
       3459             if is_integer(indexer):
       3460                 indexer = [indexer]

    ~\anaconda3\lib\site-packages\pandas\core\indexes\base.py in get_loc(self, key, method, tolerance)
       3361                 return self._engine.get_loc(casted_key)
       3362             except KeyError as err:
    -> 3363                 raise KeyError(key) from err
       3364 
       3365         if is_scalar(key) and isna(key) and not self.hasnans:

    KeyError: (0, 3)

In \[95\]:

    clean_data

Out\[95\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[97\]:

    x_iv = clean_data.drop(['Salary'],axis=1)

In \[98\]:

    clean_data

Out\[98\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[99\]:

    x_iv

Out\[99\]:

|     | Name  | Domain      | Age | Location  | Exp |
|-----|-------|-------------|-----|-----------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 10  |

In \[100\]:

    x_iv.columns

Out\[100\]:

    Index(['Name', 'Domain', 'Age', 'Location', 'Exp'], dtype='object')

In \[102\]:

    clean_data.columns

Out\[102\]:

    Index(['Name', 'Domain', 'Age', 'Location', 'Salary', 'Exp'], dtype='object')

In \[103\]:

    clean_data

Out\[103\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[104\]:

    y_dv = clean_data.drop(['Name', 'Domain', 'Age', 'Location','Exp'],axis=1)

In \[105\]:

    y_dv

Out\[105\]:

|     | Salary |
|-----|--------|
| 0   | 5000   |
| 1   | 10000  |
| 2   | 15000  |
| 3   | 20000  |
| 4   | 30000  |
| 5   | 60000  |

In \[108\]:

    clean_data

Out\[108\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[109\]:

    x_iv

Out\[109\]:

|     | Name  | Domain      | Age | Location  | Exp |
|-----|-------|-------------|-----|-----------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 10  |

In \[110\]:

    y_dv

Out\[110\]:

|     | Salary |
|-----|--------|
| 0   | 5000   |
| 1   | 10000  |
| 2   | 15000  |
| 3   | 20000  |
| 4   | 30000  |
| 5   | 60000  |

In \[111\]:

    clean_data

Out\[111\]:

|     | Name  | Domain      | Age | Location  | Salary | Exp |
|-----|-------|-------------|-----|-----------|--------|-----|
| 0   | Mike  | Datascience | 34  | Mumbai    | 5000   | 2   |
| 1   | Teddy | Testing     | 45  | Bangalore | 10000  | 3   |
| 2   | Umar  | Dataanalyst | 50  | Hyderbad  | 15000  | 4   |
| 3   | Jane  | Analytics   | 50  | Hyderbad  | 20000  | 4   |
| 4   | Uttam | Statistics  | 67  | Hyderbad  | 30000  | 5   |
| 5   | Kim   | NLP         | 55  | Delhi     | 60000  | 10  |

In \[112\]:

    imputation = pd.get_dummies(clean_data)

In \[113\]:

    imputation

Out\[113\]:

|     | Age | Salary | Exp | Name_Jane | Name_Kim | Name_Mike | Name_Teddy | Name_Umar | Name_Uttam | Domain_Analytics | Domain_Dataanalyst | Domain_Datascience | Domain_NLP | Domain_Statistics | Domain_Testing | Location_Bangalore | Location_Delhi | Location_Hyderbad | Location_Mumbai |
|-----|-----|--------|-----|-----------|----------|-----------|------------|-----------|------------|------------------|--------------------|--------------------|------------|-------------------|----------------|--------------------|----------------|-------------------|-----------------|
| 0   | 34  | 5000   | 2   | 0         | 0        | 1         | 0          | 0         | 0          | 0                | 0                  | 1                  | 0          | 0                 | 0              | 0                  | 0              | 0                 | 1               |
| 1   | 45  | 10000  | 3   | 0         | 0        | 0         | 1          | 0         | 0          | 0                | 0                  | 0                  | 0          | 0                 | 1              | 1                  | 0              | 0                 | 0               |
| 2   | 50  | 15000  | 4   | 0         | 0        | 0         | 0          | 1         | 0          | 0                | 1                  | 0                  | 0          | 0                 | 0              | 0                  | 0              | 1                 | 0               |
| 3   | 50  | 20000  | 4   | 1         | 0        | 0         | 0          | 0         | 0          | 1                | 0                  | 0                  | 0          | 0                 | 0              | 0                  | 0              | 1                 | 0               |
| 4   | 67  | 30000  | 5   | 0         | 0        | 0         | 0          | 0         | 1          | 0                | 0                  | 0                  | 0          | 1                 | 0              | 0                  | 0              | 1                 | 0               |
| 5   | 55  | 60000  | 10  | 0         | 1        | 0         | 0          | 0         | 0          | 0                | 0                  | 0                  | 1          | 0                 | 0              | 0                  | 1              | 0                 | 0               |

In \[ \]: