In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pySparkSetup').getOrCreate()

In [ ]:
# # # !pip install pyspark 
# # !apt install pyspark 
# !pip install findspark

In [4]:
data_values = [('Apple',3),('Banana',6),('Orange', 9)]
column_name = ['Name', 'Count']
df = spark.createDataFrame(data_values).toDF(*column_name)
df.show()

+------+-----+
|  Name|Count|
+------+-----+
| Apple|    3|
|Banana|    6|
|Orange|    9|
+------+-----+

In [5]:
import findspark

In [6]:
findspark.init() 
findspark.find()

'C:\\Users\\Gnaneshwari\\anaconda3\\Lib\\site-packages\\pyspark'

In [7]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [8]:
spark

In [9]:
db_pyspark = spark.read.option('header', 'true').csv('file:///E:/Mall_Customers.csv')

In [12]:
db_pyspark

DataFrame[CustomerID: string, Genre: string, Age: string, Annual Income (k$): string, Spending Score (1-100): string]

In [10]:
db_pyspark.printSchema()

root
 |-- CustomerID: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Annual Income (k$): string (nullable = true)
 |-- Spending Score (1-100): string (nullable = true)

In [11]:
db_pyspark.show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
|        11|  Male| 67|                19|                    14|
|        12|Female| 35|                19|                    99|
|        13|Female| 58|                20|                    15|
|        14|Female| 24|                20|                    77|
|        15|  Male| 37|                20|                    13|
|        16|  Male| 22|                20|                    79|
|        17|Female| 35|                21|                    35|
|        18|  Male| 20|                21|                    66|
|        19|  Male| 52|                23|                    29|
|        20|Female| 35|                23|                    98|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [13]:
type(db_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
 db_pyspark.head(5)

[Row(CustomerID='1', Genre='Male', Age='19', Annual Income (k$)='15', Spending Score (1-100)='39'),
 Row(CustomerID='2', Genre='Male', Age='21', Annual Income (k$)='15', Spending Score (1-100)='81'),
 Row(CustomerID='3', Genre='Female', Age='20', Annual Income (k$)='16', Spending Score (1-100)='6'),
 Row(CustomerID='4', Genre='Female', Age='23', Annual Income (k$)='16', Spending Score (1-100)='77'),
 Row(CustomerID='5', Genre='Female', Age='31', Annual Income (k$)='17', Spending Score (1-100)='40')]

In [15]:
db_pyspark.select([ 'CustomerID', 'Age']).show()

+----------+---+
|CustomerID|Age|
+----------+---+
|         1| 19|
|         2| 21|
|         3| 20|
|         4| 23|
|         5| 31|
|         6| 22|
|         7| 35|
|         8| 23|
|         9| 64|
|        10| 30|
|        11| 67|
|        12| 35|
|        13| 58|
|        14| 24|
|        15| 37|
|        16| 22|
|        17| 35|
|        18| 20|
|        19| 52|
|        20| 35|
+----------+---+
only showing top 20 rows

In [16]:
db_pyspark.select(['Annual Income (k$)']).show()

+------------------+
|Annual Income (k$)|
+------------------+
|                15|
|                15|
|                16|
|                16|
|                17|
|                17|
|                18|
|                18|
|                19|
|                19|
|                19|
|                19|
|                20|
|                20|
|                20|
|                20|
|                21|
|                21|
|                23|
|                23|
+------------------+
only showing top 20 rows

In [17]:
 db_pyspark['Annual Income (k$)']

Column<'Annual Income (k$)'>

In [18]:
db_pyspark.dtypes

[('CustomerID', 'string'),
 ('Genre', 'string'),
 ('Age', 'string'),
 ('Annual Income (k$)', 'string'),
 ('Spending Score (1-100)', 'string')]

In [19]:
db_pyspark.describe().show()

+-------+------------------+------+-----------------+------------------+----------------------+
|summary|        CustomerID| Genre|              Age|Annual Income (k$)|Spending Score (1-100)|
+-------+------------------+------+-----------------+------------------+----------------------+
|  count|               200|   200|              200|               200|                   200|
|   mean|             100.5|  null|            38.85|             60.56|                  50.2|
| stddev|57.879184513951124|  null|13.96900733155888| 26.26472116527124|    25.823521668370173|
|    min|                 1|Female|               18|               101|                     1|
|    max|                99|  Male|               70|                99|                    99|
+-------+------------------+------+-----------------+------------------+----------------------+

In [20]:
#Adding the columns in the dataset 

db_pyspark

DataFrame[CustomerID: string, Genre: string, Age: string, Annual Income (k$): string, Spending Score (1-100): string]

In [21]:
db_pyspark.show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
|        11|  Male| 67|                19|                    14|
|        12|Female| 35|                19|                    99|
|        13|Female| 58|                20|                    15|
|        14|Female| 24|                20|                    77|
|        15|  Male| 37|                20|                    13|
|        16|  Male| 22|                20|                    79|
|        17|Female| 35|                21|                    35|
|        18|  Male| 20|                21|                    66|
|        19|  Male| 52|                23|                    29|
|        20|Female| 35|                23|                    98|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [22]:
 #Dropping the columns 
db_pyspark = db_pyspark.drop('Genre')

In [23]:
db_pyspark

DataFrame[CustomerID: string, Age: string, Annual Income (k$): string, Spending Score (1-100): string]

In [24]:
db_pyspark.show()

+----------+---+------------------+----------------------+
|CustomerID|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+---+------------------+----------------------+
|         1| 19|                15|                    39|
|         2| 21|                15|                    81|
|         3| 20|                16|                     6|
|         4| 23|                16|                    77|
|         5| 31|                17|                    40|
|         6| 22|                17|                    76|
|         7| 35|                18|                     6|
|         8| 23|                18|                    94|
|         9| 64|                19|                     3|
|        10| 30|                19|                    72|
|        11| 67|                19|                    14|
|        12| 35|                19|                    99|
|        13| 58|                20|                    15|
|        14| 24|                20|                    77|
|        15| 37|                20|                    13|
|        16| 22|                20|                    79|
|        17| 35|                21|                    35|
|        18| 20|                21|                    66|
|        19| 52|                23|                    29|
|        20| 35|                23|                    98|
+----------+---+------------------+----------------------+
only showing top 20 rows

In [26]:
#Renaming the columns
db_pyspark.withColumnRenamed('Annual Income (k$)', 'Annual Income In(k$)').show()

+----------+---+--------------------+----------------------+
|CustomerID|Age|Annual Income In(k$)|Spending Score (1-100)|
+----------+---+--------------------+----------------------+
|         1| 19|                  15|                    39|
|         2| 21|                  15|                    81|
|         3| 20|                  16|                     6|
|         4| 23|                  16|                    77|
|         5| 31|                  17|                    40|
|         6| 22|                  17|                    76|
|         7| 35|                  18|                     6|
|         8| 23|                  18|                    94|
|         9| 64|                  19|                     3|
|        10| 30|                  19|                    72|
|        11| 67|                  19|                    14|
|        12| 35|                  19|                    99|
|        13| 58|                  20|                    15|
|        14| 24|                  20|                    77|
|        15| 37|                  20|                    13|
|        16| 22|                  20|                    79|
|        17| 35|                  21|                    35|
|        18| 20|                  21|                    66|
|        19| 52|                  23|                    29|
|        20| 35|                  23|                    98|
+----------+---+--------------------+----------------------+
only showing top 20 rows

In [27]:
db_pyspark.na.drop().show() #this will remove null values 
#there are no null values in the dataset

+----------+---+------------------+----------------------+
|CustomerID|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+---+------------------+----------------------+
|         1| 19|                15|                    39|
|         2| 21|                15|                    81|
|         3| 20|                16|                     6|
|         4| 23|                16|                    77|
|         5| 31|                17|                    40|
|         6| 22|                17|                    76|
|         7| 35|                18|                     6|
|         8| 23|                18|                    94|
|         9| 64|                19|                     3|
|        10| 30|                19|                    72|
|        11| 67|                19|                    14|
|        12| 35|                19|                    99|
|        13| 58|                20|                    15|
|        14| 24|                20|                    77|
|        15| 37|                20|                    13|
|        16| 22|                20|                    79|
|        17| 35|                21|                    35|
|        18| 20|                21|                    66|
|        19| 52|                23|                    29|
|        20| 35|                23|                    98|
+----------+---+------------------+----------------------+
only showing top 20 rows

In [28]:
db_pyspark.na.drop(how='any').show()

+----------+---+------------------+----------------------+
|CustomerID|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+---+------------------+----------------------+
|         1| 19|                15|                    39|
|         2| 21|                15|                    81|
|         3| 20|                16|                     6|
|         4| 23|                16|                    77|
|         5| 31|                17|                    40|
|         6| 22|                17|                    76|
|         7| 35|                18|                     6|
|         8| 23|                18|                    94|
|         9| 64|                19|                     3|
|        10| 30|                19|                    72|
|        11| 67|                19|                    14|
|        12| 35|                19|                    99|
|        13| 58|                20|                    15|
|        14| 24|                20|                    77|
|        15| 37|                20|                    13|
|        16| 22|                20|                    79|
|        17| 35|                21|                    35|
|        18| 20|                21|                    66|
|        19| 52|                23|                    29|
|        20| 35|                23|                    98|
+----------+---+------------------+----------------------+
only showing top 20 rows

In [29]:
 db_pyspark.na.drop(how='any', thresh=3).show()

+----------+---+------------------+----------------------+
|CustomerID|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+---+------------------+----------------------+
|         1| 19|                15|                    39|
|         2| 21|                15|                    81|
|         3| 20|                16|                     6|
|         4| 23|                16|                    77|
|         5| 31|                17|                    40|
|         6| 22|                17|                    76|
|         7| 35|                18|                     6|
|         8| 23|                18|                    94|
|         9| 64|                19|                     3|
|        10| 30|                19|                    72|
|        11| 67|                19|                    14|
|        12| 35|                19|                    99|
|        13| 58|                20|                    15|
|        14| 24|                20|                    77|
|        15| 37|                20|                    13|
|        16| 22|                20|                    79|
|        17| 35|                21|                    35|
|        18| 20|                21|                    66|
|        19| 52|                23|                    29|
|        20| 35|                23|                    98|
+----------+---+------------------+----------------------+
only showing top 20 rows

In [30]:
db_pyspark.show()

+----------+---+------------------+----------------------+
|CustomerID|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+---+------------------+----------------------+
|         1| 19|                15|                    39|
|         2| 21|                15|                    81|
|         3| 20|                16|                     6|
|         4| 23|                16|                    77|
|         5| 31|                17|                    40|
|         6| 22|                17|                    76|
|         7| 35|                18|                     6|
|         8| 23|                18|                    94|
|         9| 64|                19|                     3|
|        10| 30|                19|                    72|
|        11| 67|                19|                    14|
|        12| 35|                19|                    99|
|        13| 58|                20|                    15|
|        14| 24|                20|                    77|
|        15| 37|                20|                    13|
|        16| 22|                20|                    79|
|        17| 35|                21|                    35|
|        18| 20|                21|                    66|
|        19| 52|                23|                    29|
|        20| 35|                23|                    98|
+----------+---+------------------+----------------------+
only showing top 20 rows

In [38]:
from pyspark.sql.functions import col
from pyspark.sql.types import DoubleType

# Convert the "Age" column to DoubleType
db_pyspark = db_pyspark.withColumn("Age", col("Age").cast(DoubleType()))

db_pyspark = db_pyspark.withColumn("CustomerID",col("CustomerID").cast(DoubleType()))
db_pyspark = db_pyspark.withColumn("Annual Income (k$)",col("Annual Income (k$)").cast(DoubleType()))

In [39]:
#Imputation 
from pyspark.ml.feature import Imputer

In [40]:
imputer=Imputer( 
inputCols=['Age', 'CustomerID', 'Annual Income (k$)'], 
outputCols=['{}_imputed'.format(c) for c in ['Age', 'CustomerID', 'Annual Income (k$)']] 
).setStrategy('median')

In [41]:
imputer.fit(db_pyspark).transform(db_pyspark).show()

+----------+----+------------------+----------------------+-----------+------------------+--------------------------+
|CustomerID| Age|Annual Income (k$)|Spending Score (1-100)|Age_imputed|CustomerID_imputed|Annual Income (k$)_imputed|
+----------+----+------------------+----------------------+-----------+------------------+--------------------------+
|       1.0|19.0|              15.0|                    39|       19.0|               1.0|                      15.0|
|       2.0|21.0|              15.0|                    81|       21.0|               2.0|                      15.0|
|       3.0|20.0|              16.0|                     6|       20.0|               3.0|                      16.0|
|       4.0|23.0|              16.0|                    77|       23.0|               4.0|                      16.0|
|       5.0|31.0|              17.0|                    40|       31.0|               5.0|                      17.0|
|       6.0|22.0|              17.0|                    76|       22.0|               6.0|                      17.0|
|       7.0|35.0|              18.0|                     6|       35.0|               7.0|                      18.0|
|       8.0|23.0|              18.0|                    94|       23.0|               8.0|                      18.0|
|       9.0|64.0|              19.0|                     3|       64.0|               9.0|                      19.0|
|      10.0|30.0|              19.0|                    72|       30.0|              10.0|                      19.0|
|      11.0|67.0|              19.0|                    14|       67.0|              11.0|                      19.0|
|      12.0|35.0|              19.0|                    99|       35.0|              12.0|                      19.0|
|      13.0|58.0|              20.0|                    15|       58.0|              13.0|                      20.0|
|      14.0|24.0|              20.0|                    77|       24.0|              14.0|                      20.0|
|      15.0|37.0|              20.0|                    13|       37.0|              15.0|                      20.0|
|      16.0|22.0|              20.0|                    79|       22.0|              16.0|                      20.0|
|      17.0|35.0|              21.0|                    35|       35.0|              17.0|                      21.0|
|      18.0|20.0|              21.0|                    66|       20.0|              18.0|                      21.0|
|      19.0|52.0|              23.0|                    29|       52.0|              19.0|                      23.0|
|      20.0|35.0|              23.0|                    98|       35.0|              20.0|                      23.0|
+----------+----+------------------+----------------------+-----------+------------------+--------------------------+
only showing top 20 rows

In [42]:
db_pyspark.show()

+----------+----+------------------+----------------------+
|CustomerID| Age|Annual Income (k$)|Spending Score (1-100)|
+----------+----+------------------+----------------------+
|       1.0|19.0|              15.0|                    39|
|       2.0|21.0|              15.0|                    81|
|       3.0|20.0|              16.0|                     6|
|       4.0|23.0|              16.0|                    77|
|       5.0|31.0|              17.0|                    40|
|       6.0|22.0|              17.0|                    76|
|       7.0|35.0|              18.0|                     6|
|       8.0|23.0|              18.0|                    94|
|       9.0|64.0|              19.0|                     3|
|      10.0|30.0|              19.0|                    72|
|      11.0|67.0|              19.0|                    14|
|      12.0|35.0|              19.0|                    99|
|      13.0|58.0|              20.0|                    15|
|      14.0|24.0|              20.0|                    77|
|      15.0|37.0|              20.0|                    13|
|      16.0|22.0|              20.0|                    79|
|      17.0|35.0|              21.0|                    35|
|      18.0|20.0|              21.0|                    66|
|      19.0|52.0|              23.0|                    29|
|      20.0|35.0|              23.0|                    98|
+----------+----+------------------+----------------------+
only showing top 20 rows

In [46]:
from pyspark.sql.functions import col

db_pyspark.filter(col("Annual Income (k$)") <= 18.0).show()

+----------+----+------------------+----------------------+
|CustomerID| Age|Annual Income (k$)|Spending Score (1-100)|
+----------+----+------------------+----------------------+
|       1.0|19.0|              15.0|                    39|
|       2.0|21.0|              15.0|                    81|
|       3.0|20.0|              16.0|                     6|
|       4.0|23.0|              16.0|                    77|
|       5.0|31.0|              17.0|                    40|
|       6.0|22.0|              17.0|                    76|
|       7.0|35.0|              18.0|                     6|
|       8.0|23.0|              18.0|                    94|
+----------+----+------------------+----------------------+

In [51]:
from pyspark.sql.functions import col

db_pyspark.filter((col("Annual Income (k$)") <= 18.0)).select(['CustomerID', 'Age']).show()

+----------+----+
|CustomerID| Age|
+----------+----+
|       1.0|19.0|
|       2.0|21.0|
|       3.0|20.0|
|       4.0|23.0|
|       5.0|31.0|
|       6.0|22.0|
|       7.0|35.0|
|       8.0|23.0|
+----------+----+

In [52]:
db_pyspark.filter(db_pyspark["Annual Income (k$)"]<18.0).show()

+----------+----+------------------+----------------------+
|CustomerID| Age|Annual Income (k$)|Spending Score (1-100)|
+----------+----+------------------+----------------------+
|       1.0|19.0|              15.0|                    39|
|       2.0|21.0|              15.0|                    81|
|       3.0|20.0|              16.0|                     6|
|       4.0|23.0|              16.0|                    77|
|       5.0|31.0|              17.0|                    40|
|       6.0|22.0|              17.0|                    76|
+----------+----+------------------+----------------------+

In [54]:
db_pyspark.filter((db_pyspark["Annual Income (k$)"]<=18.0 ) | ( db_pyspark["Annual Income (k$)"]<=15)).show()

+----------+----+------------------+----------------------+
|CustomerID| Age|Annual Income (k$)|Spending Score (1-100)|
+----------+----+------------------+----------------------+
|       1.0|19.0|              15.0|                    39|
|       2.0|21.0|              15.0|                    81|
|       3.0|20.0|              16.0|                     6|
|       4.0|23.0|              16.0|                    77|
|       5.0|31.0|              17.0|                    40|
|       6.0|22.0|              17.0|                    76|
|       7.0|35.0|              18.0|                     6|
|       8.0|23.0|              18.0|                    94|
+----------+----+------------------+----------------------+

In [55]:
db_pyspark.filter((db_pyspark["Annual Income (k$)"]<=18.0 )).show()

+----------+----+------------------+----------------------+
|CustomerID| Age|Annual Income (k$)|Spending Score (1-100)|
+----------+----+------------------+----------------------+
|       1.0|19.0|              15.0|                    39|
|       2.0|21.0|              15.0|                    81|
|       3.0|20.0|              16.0|                     6|
|       4.0|23.0|              16.0|                    77|
|       5.0|31.0|              17.0|                    40|
|       6.0|22.0|              17.0|                    76|
|       7.0|35.0|              18.0|                     6|
|       8.0|23.0|              18.0|                    94|
+----------+----+------------------+----------------------+